# Ignorer les fichiers de configuration sensibles
.env
*.env

# Ignorer les dossiers de dépendances locales
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Ignorer les fichiers de logs
logs
*.log

# Ignorer les fichiers temporaires ou système
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

# Ignorer les fichiers de tests
coverage
*.test.js
*.spec.js

# Ignorer les fichiers de build locaux
dist
build

# Ignorer les fichiers Git
.git
.gitignore

# Ignorer les fichiers Docker eux-mêmes
Dockerfile
.dockerignore